/*
 * Chrome renders extra-wide &nbsp; characters for the Hoefler Text font.
 * This results in a jumping cursor when typing in both the Classic and block
 * editors. The following font-face override fixes the issue by manually inserting
 * a custom font that includes just a Hoefler Text space replacement for that
 * character instead.
 */

@font-face {
    font-family: "ScaniaSansHeadline-Bold";
    src: url("ScaniaSansHeadline-Bold.eot?#iefix") format("embedded-opentype"),
        url("ScaniaSansHeadline-Bold.woff") format("woff"),
        url("ScaniaSansHeadline-Bold.ttf") format("truetype"),
        url("ScaniaSansHeadline-Bold.svg#ScaniaSansHeadline-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ScaniaSans-Regular";
    src: url("ScaniaSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("ScaniaSans-Regular.woff") format("woff"),
        url("ScaniaSans-Regular.ttf") format("truetype"),
        url("ScaniaSans-Regular.svg#ScaniaSans-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

// Font and typographic variables

$font__body: "NonBreakingSpaceOverride", "Hoefler Text", "Baskerville Old Face",
    Garamond, "Times New Roman", serif;
$font__heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size_base: 22px;
$font__size-ratio: 1.125;

$font__size-xxs: 1em / (1.5 * $font__size-ratio);
$font__size-xs: 1em / (1.25 * $font__size-ratio);
$font__size-sm: 1em / (1 * $font__size-ratio);
$font__size-md: 1em * (1 * $font__size-ratio);
$font__size-lg: 1em * (1.5 * $font__size-ratio);
$font__size-xl: 1em * (2 * $font__size-ratio);
$font__size-xxl: 1em * (2.5 * $font__size-ratio);
$font__size-xxxl: 1em * (3 * $font__size-ratio);

$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double: 2 * $font__line-height-heading;
